/* AdvancePaymentRequest.css */

.request-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.request-form-container h2 {
  text-align: center;
}

.request-form-container form label {
  display: block;
  margin-bottom: 10px;
}

.request-form-container form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.request-form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
  text-align: center;
}

.request-form-container button:hover {
  background-color: #0056b3;
}

.request-form-container .evaluate-request-button,
.request-form-container .finalize-request-button {
  width: 48%;
  margin-right: 2%;
  display: inline-block;
}

.request-form-container .finalize-request-button {
  margin-right: 0;
}

.request-form-container .result-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.back-button {
  margin-top: 20px;
  background-color: #6c757d;
}

.back-button:hover {
  background-color: #5a6268;
}
