/* src/EnrollAdmin.css */
.enroll-container {
  width: 100%;
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

/* src/components/Login/EnrollAdmin.css */
.back-to-home-button {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  background-color: #218838;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.back-to-home-button:hover {
  background-color: #218838;
}
